<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="~/Scripts/jquery.js">
    </script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js">
    </script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="~/Scripts/Customjs.js">
    </script>
    <script type="text/javascript" src="~/Scripts/contactform.js">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Sugar Bakery
    </title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="screen" />
    <!--[if lte IE 8]>
    <link rel="stylesheet"  href="menuie.css" type="text/css" media="screen"/>
    <link rel="stylesheet"  href="vmenuie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/totop.js">
    </script>
    <!--[if IE 7]>
    <style type="text/css" media="screen">
    #ttr_vmenu_items  li.ttr_vmenu_items_parent {margin-left:-16px;font-size:0px;}
    </style>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="html5shiv.js">
    </script>
    <script type="text/javascript" src="respond.min.js">
    </script>
    <![endif]-->
</head>
<body class="Home">
    <div class="totopshow">
        <a href="#" class="back-to-top"><img alt="Back to Top" src="~/images/gototop0.png" /></a>
    </div>
    <div id="ttr_page" class="container">
        <nav id="ttr_menu" class="navbar-default navbar">
            <div id="ttr_menu_inner_in">
                <div class="menuforeground">
                </div>
                <div class="ttr_menushape1">
                    <div class="html_content">
                        <p style="margin:0em 0em 0.36em 0em;text-align:Center;line-height:0.202816901408451;">
                            <br style="font-family:'Montserrat','Arial';font-size:0.143em;" />
                        </p>
                        <p style="margin:0em 0em 0em 0em;text-align:Center;line-height:0.202816901408451;">
                            <span style="font-family:'Montserrat','Arial';font-weight:700;font-size:1.571em;">
                                SUGAR BAKERY
                            </span>
                        </p>
                    </div>
                </div>
                <div id="navigationmenu">
                    <div class="navbar-header">
                        <button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">
                            </span>
                            <span class="icon-bar">
                            </span>
                            <span class="icon-bar">
                            </span>
                            <span class="icon-bar">
                            </span>
                        </button>
                    </div>
                    <div class="menu-center collapse navbar-collapse">
                        <ul class="ttr_menu_items nav navbar-nav navbar-right">
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="home.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>TRANG CHỦ</a>
                                <hr class="horiz_separator" />
                            </li>
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="about-us.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>BÁNH</a>
                                <hr class="horiz_separator" />
                            </li>
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="gallery.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>ĐĂNG KÝ</a>
                                <hr class="horiz_separator" />
                            </li>
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="sermons.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>ĐĂNG NHẬP</a>
                                <hr class="horiz_separator" />
                            </li>
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="contact.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>GIỎ HÀNG</a>
                                <hr class="horiz_separator" />
                            </li>
                            <a><span class="menuchildicon"></span>ĐĂNG NHẬP</a>
                            <a>---</a>
                            <a><span class="menuchildicon"></span>ĐĂNG KÝ</a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        <div style="clear: both;">&nbsp;</div>
        <div>
            @RenderBody()
        </div>




        <div style="clear: both;">&nbsp;</div>
        <div style="height:0px;width:0px;overflow:hidden;"></div>
        <footer id="ttr_footer">
            <div class="ttr_footer_bottom_footer">
                <div class="ttr_footer_bottom_footer_inner">
                    <div id="ttr_footer_designed_by_links">
                        <p>&copy; 2022. Design by <a href="http://templated.co" rel="nofollow">Sugar Bakery</a>.</p>
                    </div>
                    <a href="http://www.facebook.com/TemplateToaster" class="ttr_footer_facebook" target="_self">
                    </a>
                    <a href="http://twitter.com/templatetoaster" class="ttr_footer_twitter" target="_self">
                    </a>
                    <a href="http://www.templatetoaster.com" class="ttr_footer_googleplus" target="_self">
                    </a>
                </div>
            </div>
        </footer>
        <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-bottom-collapse: separate;"></div>
    </div>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Montserrat:700', 'Roboto:500', 'Roboto', 'Montserrat', 'Abel', 'Roboto:300'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.0.31/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
</body>
</html>
