@model SugarBakery.Models.tbKhachHang
@{
    ViewBag.Title = "Thongtintk";
    Layout = "~/Views/Layout/_LayoutLogin.cshtml";
}
<div class="text-center mb-5">
    <h3 class="text-uppercase">Thông tin người dùng</h3>

    <h1>@Model.MaKH</h1>
    <h1>@Model.TenKH</h1>
    <h1>@Model.MaKH</h1>
</div>

