@model IEnumerable<SugarBakery.Models.tbBanhKem>

<h2 style="text-align:center">BÁNH SINH NHẬT</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("SPTheoBanhKem", "SugarBakery", new {id = item.MaBK})" class="list-group-item">
                @item.TenBK
            </a>
        </li>
    }
</ul>