@model IEnumerable<SugarBakery.Models.tbSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutMenu.cshtml";
}

<h3 style="text-align:center; color:red">SẢN PHẢM MỚI</h3>
<div class="row">
    @foreach (var sanpham in Model)
    {
        <div class="col-sm-4 col-lg-4 cpl-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("ChiTiet", "SugarBakery", new {id = sanpham.MaBK})">
                    <img alt="@sanpham.TenSP" src="~/images/sanpham/@sanpham.AnhSP" width="170" , height="170" />
                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @sanpham.TenSP
                        </h4>
                        <p></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </a>

            </div>
        </div>
    }
</div>