
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Layout/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/Content/home.css">
<!-- home section start -->

<section class="home" id="home">
    <div class="slides-container">

        <div class="slide active">
            <div class="content">
                <span>Bánh Sinh Nhật</span>
                <h3>Giảm Giá Đến 50%</h3>
                <a href="#" class="btn">Shop Now</a>
            </div>
            <div class="img">
                <img src="~/images/img/home-img-1.png" alt="">
            </div>
        </div>

        <div class="slide">
            <div class="content">
                <span>Freeship Với Hóa Đơn Trên 500.000vnđ</span>
                <h3>Giảm Giá Đến 50%</h3>
                <a href="#" class="btn">Shop Now</a>
            </div>
            <div class="img">
                <img src="~/images/img/home-img-2.png" alt="">
            </div>
        </div>

        <div class="slide">
            <div class="content">
                <span>Giao Hàng Tận Nơi Trong Vòng 30 Phút</span>
                <h3>Giảm Giá Đến 50%</h3>
                <a href="#" class="btn">Shop Now</a>
            </div>
            <div class="img">
                <img src="~/images/img/home-img-3.png" alt="">
            </div>
        </div>

    </div>
    <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
    <div id="prev-slide" class="fas fa-angle-left" onclick="next()"></div>

</section>


<section class="banner-container">

    <div class="banner">
        <img src="~/images/img/banner-1.jpg" alt="">
        <div class="content">
            <span>Flash Sale</span>
            <h3>Giảm Giá Đến 50%</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>

    <div class="banner">
        <img src="~/images/img/banner-2.jpg" alt="">
        <div class="content">
            <span>Flash Sale</span>
            <h3>Giảm Giá Đến 50%</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>

    <div class="banner">
        <img src="~/images/img/banner-3.jpg" alt="">
        <div class="content">
            <span>Flash Sale</span>
            <h3>Giảm Giá Đến 50%</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>

</section>


<!-- category start  -->

<div class="heading">
    <h1>Sản Phẩm Của Chúng Tôi</h1>
</div>

<section class="category">

    <h1 class="title"> Danh Mục <span>Sản Phẩm</span> <a href="#">Xem Tất Cả >></a> </h1>

    <div class="box-container">

        <a href="#" class="box">
            <img src="~/images/img/cat-1.jpg" alt="">
            <h3>Bánh Kem</h3>
        </a>

        <a href="#" class="box">
            <img src="~/images/img/cat-2.jpg" alt="">
            <h3>Bánh Cookies</h3>
        </a>

        <a href="#" class="box">
            <img src="~/images/img/cat-3.jpg" alt="">
            <h3>Bánh Mì</h3>
        </a>

        <a href="#" class="box">
            <img src="~/images/img/cat-4.jpg" alt="">
            <h3>Sô cô la</h3>
        </a>

        <a href="#" class="box">
            <img src="~/images/img/cat-5.jpg" alt="">
            <h3>Nguyên Liệu</h3>
        </a>


    </div>

</section>


<!-- products section -->

<section class="products">

    <h1 class="title"> Sản Phẩm <span>Nổi Bật</span> <a href="#">Xem Tất Cả >></a> </h1>

    <div class="box-container">

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="~/images/img/product-1.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bánh Kem Trái Cây</h3>
                <div class="price">200.000vnđ</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="~/images/img/product-2.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bánh Mì Trái Cây</h3>
                <div class="price">150.000vnđ</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="~/images/img/product-3.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bánh Kem Tình Yêu</h3>
                <div class="price">250.000vnđ</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="~/images/img/product-4.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bánh Dâu</h3>
                <div class="price">300.000vnđ</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="~/images/img/product-5.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bánh Kem Táo Xanh</h3>
                <div class="price">200.000vnđ</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="~/images/img/product-6.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bánh Kem Thanh Long Phủ Tuyết</h3>
                <div class="price">200.000vnđ</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="~/images/img/product-7.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bánh Kem Dâu Tây</h3>
                <div class="price">250.000vnđ</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img src="~/images/img/product-8.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bánh Kem Sô Cô La</h3>
                <div class="price">200.000vnđ</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- about section start -->
<div class="heading">
    <h1>Về Chúng Tôi</h1>
</div>

<section class="about">
    <div class="img">
        <img src="~/images/img/sugar.png" alt="">
    </div>

    <div class="content">
        <span>Chào Mừng Bạn Đén Với Tiệm Bánh Sugar</span>
        <h3>Sugar Bakery</h3>
        <p>
            Được thành lập vào tháng 5 năm 2022 với 4 thành viên cực kì tâm huyết, Sugar Bakery tự tin là một trong những tiệm bánh hàng đầu ở TP.HCM, với mong muốn đem lại cho khách hàng những chiếc bánh tươi ngon mới ra lò và giá thành hợp lý. Sugar
            Bakery luôn mong muốn khách hàng sẽ nhận được những chiếc bánh ngon nhất, giúp khách hàng ngon miệng.
        </p>
    </div>
</section>

<!-- gallery section start -->

<section class="gallery">
    <h1 class="title"> Bộ Sưu Tập <span>Ảnh</span> <a href="#">Xem Tất Cả >></a> </h1>
    <div class="box-container">

        <div class="box">
            <img src="~/images/img/gallery-img-1.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/img/gallery-img-2.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/img/gallery-img-3.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/img/gallery-img-4.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/img/gallery-img-5.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/img/gallery-img-6.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>
    </div>
</section>

<!-- client section start -->

<div class="heading">
    <h1>Đánh Giá Của Khách Hàng</h1>
</div>

<section class="info-container">

    <div class="info">
        <img src="~/images/img/icons-1.png" alt="">
        <div class="content">
            <h3>Giao Hàng Siêu Tốc</h3>
            <span>Trong Vòng 30 Phút</span>
        </div>
    </div>

    <div class="info">
        <img src="~/images/img/icons-2.png" alt="">
        <div class="content">
            <h3>Hoạt Động 24h</h3>
            <span>Gọi Chúng Tôi Bất Kì Lúc Nào</span>
        </div>
    </div>

    <div class="info">
        <img src="~/images/img/icons-3.png" alt="">
        <div class="content">
            <h3>Thanh Toán Dễ Dàng</h3>
            <span>Internet Baking, Visa, Momo,...</span>
        </div>
    </div>

</section>

<!-- review section start -->

<section class="review">

    <div class="box">
        <div class="user">
            <img src="~/images/img/av1.png" alt="">
            <div class="info">
                <h3>Anh Quang Dũng</h3>
                <span>Quận Bình Thạnh</span>
            </div>
        </div>
        <p>Bánh Rất Ngon, Giao Hàng Nhanh, Tới Nơi Bánh Vẫn Còn Nóng</p>
    </div>

    <div class="box">
        <div class="user">
            <img src="~/images/img/ava2.png" alt="">
            <div class="info">
                <h3>Anh Đinh Trường</h3>
                <span>Quận 9</span>
            </div>
        </div>
        <p>Bánh Ngon, Nhiều Loại Đa Dạng</p>
    </div>

    <div class="box">
        <div class="user">
            <img src="~/images/img/pic-3.png" alt="">
            <div class="info">
                <h3>Anh Quân</h3>
                <span>Quận 1</span>
            </div>
        </div>
        <p>Ngon</p>
    </div>

    <div class="box">
        <div class="user">
            <img src="~/images/img/ava.png" alt="">
            <div class="info">
                <h3>Anh Gia Huy</h3>
                <span>Quận Thủ Đức</span>
            </div>
        </div>
        <p>Nhân Viên Tư Vấn Nhiệt Tình, Hỗ Trợ Tốt</p>
    </div>

</section>

<!-- custom js file link -->
<script src="~/Scripts/main.js"></script>